*{
    margin: 0;
    padding: 0;
}

.project-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main{
    display: flex;
    height: 95%;
    width: 95%;
    border: 2px solid rgb(86, 200, 139);
    border-radius: 10px;
}

.todoapp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: all 0.5s ease;
}
.todoapp:hover{
    transform: scale(1.03);
}

.btn{
    color: white;
}
.btn:hover{
    filter: drop-shadow(1px 1px 1px grey);
   
}