.weather-app{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.weather-container{
    background-color: #f8fff0;
    border-radius: 10px;
   
}

#weather-data{
    display: flex;
    justify-content: center;
}
#location h4{
    font-weight: lighter;
    margin-top: 10px;

}

#current-data{
    display: flex;
    flex-direction: column;
    
    
}
#current-data div{
    margin: 5px;
}
#weather-data div{
    height: 100px;
    width: 150px;
    background-color: rgb(143, 13, 85);
    margin: 2px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    
}


#dt{
    display: flex;
    justify-content: start;
}

#date-time h4{
    margin: 5px;
}

.main{
    display: flex;
    justify-content: center;
    background-color:rgb(235, 180, 247) ;
    
}

#input{
    width: 80%;
}

#input form input{
    width: 70%;
    height: 35px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    text-align: center;
    font-weight:bold;
    outline: none;
    background-color: rgb(143, 13, 85);
    color: white;
    

}

button{
    height: 35px;
    padding: 5px 20px;
    margin: 5px;
    border: none;
    border-radius: 0 5px;
    font-weight: bold;
    color: white;
    background-color: transparent;
}

button:hover{
    background-color: rgb(17, 51, 73);
    color: white;
}

.form{
    background-color: rgb(143, 13, 85);
    border-radius: 5px;
}
